<div class="container my-4">
    <button class="btn btn-primary px-4 py-2 fw-semibold shadow-sm" (click)="back()">Back</button>
    <!--
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered rounded-0">
      <thead class="table-primary text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Creation Date</th>
        </tr>
      </thead>
      <tbody>
       
        <tr  class="text-center">
          <td>{{ user.id }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.creationDate}}</td>
        </tr>

        
    </tbody>
    </table>-->
</div>

<div class="container d-flex justify-content-center align-items-center min-vh-50">
  <div class="card shadow-lg p-4 rounded-4" style="max-width: 620px; width: 100%;">
    <form  novalidate>
      <h2 class="text-center mb-4 fw-bold text-primary">Account Details</h2>


        <div class="mb-3">
        <label for="eml" class="form-label">Id: {{ user.id }}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Login {{ user.login }}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">E-mail {{ user.email }}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Type Id {{ user.typeId}}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Type {{ user.type }}</label>
        </div>
        
        
        <div class="mb-3">
        <label for="eml" class="form-label">Creation Date {{ user.creationDate | date:'long'}}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Is active {{ user.isActive}}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Last login date {{ user.lastLoginDate | date:'long'}}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Archive Date {{ user.archiveDate | date:'long'}}</label>
        </div>
        <div class="mb-3">
        <label for="eml" class="form-label">Archiver Id {{ user.archiverId }}</label>
        </div>
      <!-- Error message from backend 
       @if (invalidEmail) {
      <div  class="alert alert-danger py-2">
        Given email isn't associated with an account
      </div>}

      @if (validEmail) {
      <div  class="text-decoration-none text-primary fw-medium">
        Recovery email sent
      </div>}

       <button
        type="submit"
        class="btn btn-primary w-100 rounded-0"
        [disabled]="!forgetForm.valid"
      >
        Send
      </button>-->
    </form>
  </div>
</div>